[Unit]
Description=Discord UI Bot
After=network-online.target systemd-resolved.service
Wants=network-online.target
Requires=systemd-resolved.service

[Service]
Type=simple
User=e193752468
Group=e193752468
WorkingDirectory=/home/e193752468/kkgroup
Environment=PATH=/home/e193752468/kkgroup/venv/bin
Environment=PYTHONPATH=/home/e193752468
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONIOENCODING=utf-8
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
Environment=LANGUAGE=zh_TW.UTF-8
Environment=TZ=Asia/Taipei
ExecStart=/home/e193752468/kkgroup/venv/bin/python /home/e193752468/kkgroup/bots/uibot.py
Restart=on-failure
RestartSec=30
StartLimitBurst=3
StartLimitInterval=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=uibot
SyslogFacility=daemon
SyslogLevel=info

TimeoutStopSec=30
KillMode=mixed

[Install]
WantedBy=multi-user.target
