requests
python-dotenv
aiohttp
watchdog
pillow
pilmoji
matplotlib
numpy
regex
huggingface_hub
aiosqlite
discord.py
flask
pytz
psutil
gspread
oauth2client
google-cloud-monitoring
google-cloud-billing
yfinance
pandas
